{{define "title"}}Admin Area{{end}}

{{define "main"}}
    <h2>Server connection</h2>
    <form action="/admin" method="POST">
        <label for="redmine">Redmine Address:</label><br>
        <input type="text" id="redmine" name="redmine"><br><br>

        <label for="pid">ProjectID:</label><br>
        <input type="text" id="pid" name="pid"><br><br>

        <label for="pid">API Key:</label><br>
        <input type="text" id="apikey" name="apikey"><br><br>

        <input type="submit" value="Save">
    </form>
{{end}}